@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1024px) {
  .h-100vh-24px {
    height: calc(100vh - 24px) !important;
  }
}

.h-30px {
  height: 30px;
}