@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h-100vh-24px {
  height: calc(100vh - 24px);
}

.h-30px {
  height: 30px;
}